<% @bookings.each do |booking| %>
  <div class="row">
    <div class="col-12">
      <p>Booking Date:  <%= booking.start_date %> - <%= booking.end_date %></p>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1><%= booking.boat.name %></h1>
            <p>Price: <%= booking.total_price %></p>
            <p>Location: <%= booking.boat.location %></p>
            <p>Boat Date: <%= booking.end_date - booking.start_date %></p>
            <p class="description"><%= booking.boat.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
