<div id="mycreate">
  <div class="sidebarlogin">
    <%= link_to boats_path(), class: "navbar-brand" do %>
      <%= image_tag "https://images.vexels.com/media/users/3/261297/isolated/preview/abc63d91a4a19d9ffb761ca198f70fb4-launch-boat-silhouette.png", class: "boat"%>
    <% end %>
    <h1 style="color:white; font-family: 'Work Sans'; font-size: 35px; margin-top: 250px;">BOATBOOKER</h1>
  </div>
      <div class="loginform">
<h2>Log in</h2>

<div class="form_container container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :username,
                  required: false,
                  input_html: { autocomplete: "current-username" } %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  </div>
</div>
<%# <%= render "devise/shared/links" %>
</div>
