<%= render "shared/navbar"%>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= @boat.name %></h1>
      <p> <%= 'â­ï¸ ' * 4 %> / 5</p>
        <img class="image" src="https://www.france-yachts.com/photos/pgiArticle/1968-1/prestige-yacht-m8.jpg" alt="img" style="cursor:pointer"
        onclick="onClick(this)" class="w3-hover-opacity">
        <p class="description"><%= @boat.description %></p>
          <%= form_for [@boat, @booking] do |f| %>
            <%= f.date_field :start_date,
              as: :string,
                      input_html: { data: { controller: "datepicker" } } %>
            <%= f.date_field :end_date %>
            <%= f.submit "Book", class: "btn btn-primary" %>
          <% end %>


      </div>
    <div class="col-6" id="content">
      <ul class="list-group list-group-flush"></ul>
        <%# <li class="list-group-item">Check Location</li> %>
          <%# <p><%= 'ðŸ“' + @boat.location %><p>
            <%# <div class="map" style="width: 50%; height: 300px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              <%# data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            <%# </div> %> %> %> %>

        <li class="list-group-item">Capacity</li>
          <p><%= 'ðŸ‘¤ ' * @boat.capacity%></p>
        <li class="list-group-item">Cost</li>
          <p><%= @boat.price%>$/per day</p>
      </ul>
      <%= link_to 'Edit Listing', edit_boat_path, class:"btn"%>
      <%= link_to "Delete",boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your #{@boat.name} listing ?"}, class:"btn"%>
  </div>
  </div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>
