<%= render "shared/navbar"%>
<div class="container">
  <div class="card-white">
    <%= link_to edit_boat_path, class:"btn" do%>
      <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    <%= link_to boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your #{@boat.name} listing ?"}, class:"btn" do%>
      <i class="fa-solid fa-trash"></i>
      <% end %>

    <h1 class="main"><%= @boat.name %></h1>
    <p> <%= 'â­ï¸ ' * 4 %> / 5</p>
      <%= cl_image_tag @boat.photo.key %>
      <%# <img class="image" src="https://www.france-yachts.com/photos/pgiArticle/1968-1/prestige-yacht-m8.jpg" alt="img" style="cursor:pointer"
      onclick="onClick(this)" class="w3-hover-opacity"> %>
      <p><%= link_to 'Book now', '#', class:"button-36"%></p>

    <ul class="list-group list-group-flush"></ul>
      <li class="description"><%= @boat.description %></li>
      <div class='list-inline'>
        <p><%= @boat.capacity%> boaters ðŸ‘¤ </p>
        <p><%= @boat.price%> ðŸ’² / per day</p>
        </div>
      </ul>
  </div>

    <div class="card-white">
      <h4>Check location</h4>
      <p><%= 'ðŸ“' + @boat.location %><p>
      <div class="row map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img id="img01" style="width:100%">
    </div>
</div>
